#container  {
  width: 700px;
  margin: 0 auto;
}

body {
  background: url("wood-bg.jpg");
  padding: 10px;
  color: #382931;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
  font-family: Arial, Helvetica, Helvetica Neue, Verdana, sans-serif;
  font-size: 14pt;
  line-height: 1.4em;
}

p {
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
  text-shadow: 0 2px 3px rgba(255, 255, 255, .5);
  color: #52311e;
}

h1 {
  margin: 1em;
}

h2 {
  margin: 1em;
  margin-top: 2em;
}

a {
  text-decoration: none;
  color: #42210e;
  -webkit-transition: text-shadow 0.1s linear;
  -moz-transition: text-shadow 0.1s linear;
  -o-transition: text-shadow 0.1s linear;
}

a:hover {
  text-shadow: 1px 1px 1px white;
}

ul {
  margin: 0;
  padding: 0;
}


.member {
  margin-top: 3em;
}

.member-avatar {
  float: right;
  border: 1px solid #BFBFBF;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}

.member-avatar img {
  border: 4px solid white;
}


.member-projects {
  margin-top: 1em;

}

.member-projects li {
  display: inline-block;
  margin: 0;
  margin-right: 1em;
  font-size: 11pt;
}

.member-projects a { 
  text-decoration: none;
  text-shadow: 0;
}

.member-name {
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
}

.member-login {
  display: inline-block;
}

.member-blog {
  font-size: 12pt;

}

#contact {
  text-align: center;

}
#contact li {
  display: inline-block;
  padding-right: 2em;
  padding-left: 2em;
}

#template {
  display: none;
}
