body {
  width: 100%;;
  text-align: center;
}

/*
 * The Header
 */
header, section, footer {
  width: 900px;
  text-align: left;
  margin: 0 auto;
}

header {
  height: 140px;
  background: url('/images/logo.png') scroll no-repeat top left;
}
header h1, header h2 {
  padding-left: 150px;
}

section {
  border: 0px;
}


/*
 * The Footer
 */
footer {
  border-top: 1px solid #000000;
  text-align: right;
}
