<div id="logo" class="two columns offset-by-one">
  <figure>
    <img src="/images/logo.png"/>
  </figure>
</div>

<div class="nine columns">
  <h1>Lyon.rb - Lyon Ruby Brigade</h1>
  Rubyist community of Lyon.<br />We work with Ruby and contribute to the ecosystem.
</div>
