<h2 style="text-align: center">Meet us</h2>
<p>
  We meet the <strong>second thursday</strong> of <strong>every month</strong> at <a href="http://www.lantreautre.fr/">l'antre autre</a>.<br />
  Meetups usually <strong>start arount 7pm</strong>. Come say hi and talk with us !
</p>
