<h2 style="text-align: center">Meet us</h2>
<p>
  We meet every <strong>second Wednesday of the month</strong> at <a href="http://www.lantreautre.fr/">l'Antre Autre</a>.<br />
  Meetups usually <strong>start at 7pm</strong>. Join us !
</p>
