<h2> When </h2> 
Meet us ...
<br> 
L'antre autre
<br> 
11, rue du Terme, Lyon
<br> 
May 12, 2011 19:00

<img src='/images/rulu.png' style='float: left; padding-right: 5px;'>
We're doing an awesome Ruby Conference the 25th and 26th of june.<br /> 
That's called
<a href="http://rulu.eu">RuLu</a> 
be sure to check it out !
