= content_for :page_title, "Administration des catégories"

%h2
  Toutes les catégories

%ul
  - @categories.each do |category|
    %li
      = link_to category.title, edit_admin_category_path(category)