body {background-color: #ddd;}
header { float:left; clear:both; display:block; width:100%; }
nav { float:left; clear:both; display:block; width:100%;}
nav ul li { list-style-type: none; float:left; margin-left: 20px;}
nav ul li a { background-color: #bcd; text-decoration: none; }
nav ul li a:hover { text-decoration: none; background-color: #dff; }

section { float:left; clear:both; display:block; margin: 30px 0px 30px 30px;}