@import url(http://fonts.googleapis.com/css?family=Nobile);

body {
  width: 100%;
  font-family: 'Nobile', arial, serif;
  background-image: linear-gradient(bottom, rgb(0,0,0) 31%, rgb(221,204,187) 100%, rgb(221,204,187) 83%);
  background-image: -o-linear-gradient(bottom, rgb(0,0,0) 31%, rgb(221,204,187) 100%, rgb(221,204,187) 83%);
  background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 31%, rgb(221,204,187) 100%, rgb(221,204,187) 83%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 31%, rgb(221,204,187) 100%, rgb(221,204,187) 83%);
  background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 31%, rgb(221,204,187) 100%, rgb(221,204,187) 83%);

  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.31, rgb(0,0,0)),
  color-stop(1, rgb(221,204,187)),
  color-stop(0.83, rgb(221,204,187))
  );
}

header {
  padding-top: 40px;
}

#meetup {
  text-align: center;
  a {
    font-weight: bold;
    font-size: 120%;
  }
}

footer {
  ul {
    padding: 0;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color:#bcd;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

#users-list {
  ul {
    padding: 0px;
    margin: 0;
    li {
      list-style-type: none;
      padding: 4px;
      float:left;
      margin: 0;
      a {
        text-decoration: none;
      }
      &:hover {
        list-style-type: none;
        background-color: #dcb;
        padding: 4px;
        a {
          text-decoration: none;
          color:#dcb;
        }
      }
    }
  }
}

#repositories-list {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      padding: 4px;
      border: 1px solid transparent;
      &:hover {
        list-style-type: none;
        padding: 4px;
      }

      a {
        font-weight: bold;
        font-size: 120%;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
