@import url(http://fonts.googleapis.com/css?family=Nobile);

body { font-family: 'Nobile', arial, serif; margin:0px; text-align:center}

.sc-main, #lyonrb {
  width: 100%;
}

header {
  display: block;
  clear:both;
  width:100%;
}

footer {
  display: block;
  clear: both;
  border-top: 1px solid #000000;
  margin: 0px 0px 0px 0px;
  left: 0px;
  background-color:black;
  color:#bcd;
  bottom:0px;
  position:relative;
  width:100%;
  min-height:250px;
}

footer ul { padding: 0; }
footer ul li { list-style-type: none; }
footer ul li a { text-decoration: none; color:#bcd}
footer ul li a:hover { text-decoration: none; color:white;}

footer section {
  width: 25%;
  padding: 30px;
  display:block;
  float: left;
}

#users-list { display: block; float: left; width: 40%; padding: 0 70px 0 130px; }
#users-list ul { padding: 0px; margin: 0}
#users-list ul li { list-style-type: none; padding: 4px; float:left; margin: 0}
#users-list ul li:hover { list-style-type: none; background-color: #dcb; padding: 4px;}
#users-list ul li a { text-decoration: none; color:#bcd}
#users-list ul li a:hover { text-decoration: none; color:#dcb }
#users-list li { float: left; }

#repositories-list { display: block; float: left; width: 40%}
#repositories-list ul { margin: 0; padding: 0; }
#repositories-list ul li { list-style-type: none; padding: 4px; border: 1px solid transparent;}
#repositories-list ul li:hover { list-style-type: none; padding: 4px; border: 1px solid #dcb;}
#repositories-list ul li a { text-decoration: none; color:#bcd; display: block; font-weight: bold;font-size: 120%;}
#repositories-list ul li a:hover { text-decoration: none; color:#dcb}

#meetup {
  width: 100%;
  text-align: center;
}

#info-view {
  display: block;
  clear: both;
}

// #posts-list { float: left }
// #content { margin-top: 40px }
// footer  { margin-top: 40px }
// footer a { text-decoration: none; color:#bcd}
// footer a:hover { text-decoration: none; color:#dcb}

div {
  display:block;
  float:left;
}

#gmap {
  display: block;
  width: 300px;
  height: 140px;
}

#panels {
  display:block;
  clear:both;
  min-height: 300px;
  width: 100%;
}

