!!!
%html{:manifest=>"application.manifest"}
  %head
    %meta{:charset=>"utf-8"}/
    %title= page_title
    = stylesheet_link_tag 'welcome'
    = csrf_meta_tag
  %body
    %header
      %div{:class => 'flash'}
        %p{:class => "notice"}
          =notice
        %p{:class => "alert"}
          =alert
      %h1 
        =I18n.t('application.layout.title')
      %h2
        =raw I18n.t('application.layout.motto')
    
    %section{:id => "content"}
      = find_and_preserve(yield)

    %footer
      %p
        Ruby Lyon
